@{
    ViewData["Title"] = "Sales Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create" asp-route-id=""><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form id="AddUpdate">
        <div class="card-body">
            <input id="SALES_MASTER_ID" type="hidden" />
            <input id="SALES_MASTER_IsEdit" type="hidden" value="@ViewData["IsEdit"]" />            
            <div class="row">
                <div class="col-md-2">
                    <label for="SALES_MASTER_SALES_NO" class="control-label"></label>
                    <input id="SALES_MASTER_SALES_NO" class="form-control form-control-sm" readonly placeholder="Sales No">
                </div>
                <div class="col-md-2">
                    <label for="SALES_MASTER_TRN_DATE" class="control-label"></label>
                    <input id="SALES_MASTER_TRN_DATE" class="form-control form-control-sm" readonly placeholder="Sales Date">
                </div>
                <div class="col-md-4">
                    <label for="SALES_MASTER_CUSTOMER_NAME" class="control-label"></label>
                    <input id="SALES_MASTER_CUSTOMER_NAME" class="form-control form-control-sm" placeholder="Customer Name">
                </div>
                <div class="col-md-4">
                    <label for="SALES_MASTER_TRN_NOTE" class="control-label"></label>
                    <input id="SALES_MASTER_TRN_NOTE" class="form-control form-control-sm" placeholder="Sales Note">
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="categoryList row mt-2">
                        <div id="categoryListLoader" class="overlay-wrapper">
                            <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
                        </div>
                    </div>

                    <hr />
                    <div class="productList table-responsive">
                        <div id="productListLoader" class="overlay-wrapper d-none">
                            <div class="overlay"><i class="fas fa-3x fa-sync-alt fa-spin"></i><div class="text-bold pt-2">Loading...</div></div>
                        </div>
                        <table class="table-xs table-hover table-bordered" style="width:100%" id="tblproductList">
                            <thead class="bg-info text-white text-center">
                                <tr>
                                    <th>Name</th>
                                    <th>UOM</th>
                                    <th>Rate</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-4">
                    <table class="table-xs table-hover table-bordered mt-2" style="width:100%" id="tblcartList">
                        <thead class="bg-danger text-white text-center">
                            <tr>
                                <th>Name</th>
                                <th>UOM</th>
                                <th>Rate</th>
                                <th style="width:50px">Qty</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr class="bg-secondary text-white text-center">
                                <td colspan="3"><strong>Total</strong></td>
                                <td id="totalQty">0</td>
                                <td id="totalAmount">0</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button type="button" class="btn btn-sm btn-success" onclick="SubmitSalesInvoice(this)"><i class="fa fa-save"></i> Submit</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/Scripts/SalesInvoice/AddUpdate.js"></script>
}