@model Shop.ERP.Models.PRODUCT_CATEGORY
@{
    ViewData["Title"] = "Product Category";
    Layout = "~/Views/shared/_layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form asp-action="Create" method="post">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-4">
                <input asp-for="ID" class="form-control form-control-sm" title="ID is Primary Key of Table" />
            </div>
            <div class="col-md-6">
                <label asp-for="CATEGORY_NAME" class="control-label"></label>
                <input asp-for="CATEGORY_NAME" class="form-control form-control-sm" title="Enter Category Name" placeholder="Enter Product Category" />
                <span asp-validation-for="CATEGORY_NAME" class="text-danger"></span>
            </div>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-xs btn-primary" type="submit"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-xs btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button class="btn btn-xs btn-success" type="submit"><i class="fa fa-save"></i> Submit</button>
        </div>
    </form>
</div>