@model Shop.ERP.Models.PRODUCT_CATEGORY

<form asp-action="Create" method="post">

<input asp-for="ID" title="ID is Primary Key of Table"/>
<input asp-for="CATEGORY_NAME" title="Enter Category Name" placeholder="Enter Product Category"/>

<button type="submit">Submit</button>

</form>